td.details-control {
    background: url('../../../img/datatables_details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../img/datatables_details_close.png') no-repeat center center;
}
button.clicked
{
    color            : #fff;
    background-color : #A9B6B1;
    border-color     : #A9B6B1;
}